.bg-ci-1 {
  background: $ci-1;
}

.bg-ci-2 {
  background: $ci-2;
}

.bg-ci-3 {
  background: $ci-3;
}

.bg-ci-4 {
  background: $ci-4;
}

.bg-ci-5 {
  background: $ci-5;
}

.bg-ci-6 {
  background: $ci-6;
}

.color-ci-1 {
  color: $ci-1;
}

.color-ci-2 {
  color: $ci-2;
}

.color-ci-3 {
  color: $ci-3;
}

.color-ci-4 {
  color: $ci-4;
}

.color-ci-5 {
  color: $ci-5;
}

.color-ci-6 {
  color: $ci-6;
}



/*
.div-primary

.div-secondary

.div-alert

.div-success

.div-warning

.div-info

*/
