.div-ci-1 {
  background: $ci-1;
}

.div-ci-2 {
  background: $ci-2;
}

.div-ci-3 {
  background: $ci-3;
}

.div-ci-4 {
  background: $ci-4;
}

.div-ci-5 {
  background: $ci-5;
}

.div-ci-6 {
  background: $ci-6;
}

/*
.div-primary

.div-secondary

.div-alert

.div-success

.div-warning

.div-info

*/
